.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(198, 174, 174, 0.72);
  padding: 20px;

  h1, h2 {
    font-weight: bold;
  }

  h1 {
    font-size: 20pt;
  }

  h2 {
    margin-bottom: 5px;
  }

  .client-data-container {
    display: flex;
    gap: 20px;

    .profile-picture {
      border-radius: 50%
    }

    .client-info-container {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      //gap: 10px;
    }
  }

  .profile-address-container {

  }

  .profile-credit-card-container {

  }
}

